#course-image-input {
	height: fit-content;
}
#faculty-code-input {
	display: inline-flex;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* visibility: visible; */
}

/* body {
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

.container {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	height: 100vh;
}

.custom-select {
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	width: 500px;
	/* background-color: transparent; */
	/* visibility: hidden; */
}

.select-box {
	background-color: white;
	border: 1px solid lightgrey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	cursor: pointer;
	border-radius: 5px;
}

.selected-options {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
}

.tag {
	background-color: rgb(233, 233, 233);
	color: black;
	border-radius: 5px;
	margin-right: 5px;
	padding: 2px 7px;
	display: flex;
	align-items: center;
}

.remove-tag {
	margin-left: 6px;
	cursor: pointer;
}

.arrow {
	margin: 0 10px;
}

.fa-angle-down {
	color: brown;
	font-size: 30px;
}

.options {
	display: none;
	position: relative;
	width: 100%;
	background-color: white;
	border: 1px solid grey;
	border-top: none;
	max-height: 225px;
	overflow-y: auto;
	z-index: 1;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.open .options {
	display: block;
}

.option-search-tags {
	background-color: white;
	border: 1px solid grey;
	padding: 8px 0px;
	margin: 8px;
}

.search-tags {
	width: 100%;
	border: none;
	outline: none;
	padding-inline: 8px;
	font-size: 14px;
}

.clear {
	position: absolute;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	padding: 0;
	color: black;
	top: 26px;
	left: auto;
	right: 15px;
}

.option {
	padding: 12px;
	cursor: pointer;
}

.option.active {
	color: black;
	background-color: lightgrey;
	border-bottom: 1px solid white;
}

.tag:hover,
.option:hover {
	background-color: lightgrey;
}

.no-result-message {
	padding: 0px 0px 12px 12px;
}

.error {
	color: red;
	margin-top: 8px;
}

.btn_submit {
	padding: 17px 24px;
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
}

.btn_submit:hover {
	background-color: rgb(0, 41, 0);
}

.tags_input {
	width: 90%;
	border: none;
	position: absolute;
	background-color: transparent;
	z-index: -1;
}
