<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Courses</title>
  <!--  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
  <link rel="stylesheet" th:href="@{/css/myCourses.css}">
  <script th:src="@{/js/myCourses.js}"></script>
  <script>
    function onEditClick(courseCode) {
      window.location.href = "/editCourse/" + courseCode;
    }

    function onCreateClick() {
      window.location.href = "/createCourse";
    }

    function onDeleteClick(courseCode) {
      window.location.href = "/deleteCourse/" + courseCode;
    }
  </script>

</head>

<body>
  <div layout:fragment="content" class="container-lg">
    <div id="path-container">
      <a href="" class="path">Home</a> /
      <a href="" class="path">My Courses</a>
    </div>
    <div id="title-container" class="mb-3">
      <h1 id="title">MY COURSES</h1>
      <button class="base-button" onclick="onCreateClick()">Create</button>
    </div>

    <div th:each="course : ${courses}" class="course-item-container">
      <div class="course-title-container">
        <a class="course-title hyperlink" href="/courseDetail" th:text="${course.code} + ' - ' + ${course.name}"></a>
        <div class="buttons-container">
          <button class="base-button" id="edit-button" th:attr="onclick=|onEditClick('${course.code}')|">Edit</button>
          <button class="base-button" th:attr="onclick=|onDeleteClick('${course.code}')|">Delete</button>
        </div>
      </div>
      <p class="course-description" th:text="${course.description}"></p>
      <span class="lecturers" th:each="lecturer, iterStat : ${course.lecturers}">
        <span th:text="${lecturer.name}"></span>
        <span th:if="${!iterStat.last}" class="abc"> | </span>
      </span>
    </div>

  </div>
</body>

</html>