<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Courses</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/myCourses.css}">
  <link rel="stylesheet" th:href="@{/css/shared.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/myCourses.js}"></script>
  <script th:src="@{/js/jquery/jquery-3.7.0.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=REM&display=swap" rel="stylesheet">
</head>

<body>
  <div layout:fragment="content" class="container-lg">
    <!-- <div id="path-container">
      <a href="" class="path">Home</a> /
      <a href="" class="path">Search Result</a>
    </div>
    <div id="title-container">
      <h1 id="title">Search Result</h1>
    </div>
    <div>3 courses found for "FIT"</div>
    <div class="course-item-container">
      <div class="course-title-container">
        <a class="course-title hyperlink" href="">61FIT3SE2 - Software Engineering 2</a>
      </div>
      <p class="course-description">Software Engineering 2 is a course that covers advanced topics in software development, including software architecture, design patterns, and software testing methodologies. Students will learn how to design and implement large-scale software systems using modern software engineering principles and tools. The course will also cover topics such as agile development methodologies, software project management, and software quality assurance.</p>
      <div class="lecturers"></div>
    </div> -->

  </div>
</body>

</html>