<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new Account</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/account.css}">
  <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{/js/account.js}"></script>
  <script th:src="@{/js/jquery/jquery-3.7.0.js}"></script>
</head>

<body>
  <div layout:fragment="content">
    <div class="list-accounts container">
      <div class="row path-container mt-3">
        <a href="" class="path">Home</a> /
        <a href="" class="path">Accounts Management</a> /
        <a href="" class="path">Create new Account</a>
      </div>
      <div class="row title-container my-2">
        <h3 class="title">CREATE NEW ACCOUNT</h3>
      </div>

      <form>
        <div class="row mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name">
        </div>
        <div class="row mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email">
        </div>
        <div class="row mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <div class="row mb-3">
          <label for="faculty" class="form-label">Faculty</label>
          <select class="form-control" id="faculty">
            <option selected>Choose...</option>
            <option value="">Information and Technology</option>
            <option value="">Tourism and Travel Management</option>
            <option value="">Business Administration</option>
            <option value="">Marketing</option>
          </select>
        </div>
        <div class="row mb-3">
          <label for="role" class="form-label">Role</label>
          <select class="form-control" id="role">
            <option selected>Choose...</option>
            <option value="">Lecturer</option>
            <option value="">Student</option>
          </select>
        </div>
        <div class="row mb-3">
          <button type="submit" class="btn btn-outline-secondary mb-3 px-5 py-2">Create</button>
        </div>

      </form>

    </div>
  </div>
</body>

</html>