<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout-admin">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Management</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/account.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script th:src="@{/js/jquery/jquery-3.7.0.js}"></script>
  <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{/js/account.js}"></script>
</head>

<body>
  <div layout:fragment="content">
    <div class="list-accounts container">
      <div class="row path-container mt-3">
        <a href="" class="path">Home</a> /
        <a href="" class="path">Lecturer List</a>
      </div>
      <div class="row title-container my-2">
        <h3 class="title">LECTURER LIST</h3>
      </div>


      <div class="">
        <div class="row my-3">
          <div class="input-group px-0 d-flex justify-content-center col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <form action="/searchLecturer" method="get">
              <button class="btn btn-outline-secondary" type="submit" id="search-btn">
                <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                <i class="bi bi-search h6"></i>
              </button>
              <input type="text" class="form-control" placeholder="Search..." name="searchPhrase">
            </form>
          </div>
          <div class="px-0 d-flex justify-content-center col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">
            <button th:attr="onclick=|window.location.href = '/admin/createLecturer'|" class="btn create-btn" type="button" id="createAcc-btn">Create New Lecturer</button>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover" border="1">
            <tr class="properties">
              <th>ID</th>
              <th>Name</th>
              <th>Faculty</th>
              <th>Email</th>
              <th>Role</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
            <tr th:each="lecturer : ${allLecturers}">
              <!-- <td th:text="${account.id}" />
                        <td>
                            <a th:href="'/account/' + ${account.id}" th:text="${account.name}" />
                        </td>
                        <td th:text="${account.faculty}" />
                        <td th:text="${account.email}" />
                        <td th:text="${account.role}" /> -->
              <td>
                <p th:text="${lecturer.id}"></p>
              </td>
              <td>
                <p th:text="${lecturer.name}"></p>
              </td>
              <td>
                <p th:text="${lecturer.faculty.name}"></p>
              </td>
              <td>
                <p th:text="${lecturer.email}"></p>
              </td>
              <td>
                <p th:text="${lecturer.role}"></p>
              </td>
              <td><a th:href="'/admin/editLecturer/' + ${lecturer.id}">UPDATE</a></td>

              <td>
                <a href="#" data-toggle="modal" th:data-target="'#deleteConfirmModal-' + ${lecturer.id}">DELETE</a>
              </td>


              <div class="modal fade" th:id="'deleteConfirmModal-' + ${lecturer.id}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Lecturer
                        Deletion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete this lecturer?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <a th:href="'/admin/deleteLecturer/' + ${lecturer.id}" class="btn delete-btn" id="deleteAccountBtn">Delete Lecturer</a>
                    </div>
                  </div>
                </div>
              </div>

            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</body>

</html>